<!DOCTYPE html>
{% extends 'Website2/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="card text-white bg-warning mb-4" style="max-width: 35rem;">
       <div class="card-header">About website</div>
         <div class="card-body">
            <h5 class="card-title"> Website goal</h5>
             <p class="card-text">I have created this website for those programmers in all over the world who love to crack programming competition and I give my best of in explanation and solving problems.My intend has to been let everyone(newbie,intermediate,advanced) to understand the problem explanation and solution effectively ,that leads them to achieve something in problem solving</p>
             <h4>Note:I coded the solutions in python only but the core thing like problem explanation,concept explanation are should be convenient for everyone.</h4>
         </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
{% endblock %}
</body>
</html>