<!DOCTYPE html>
{% extends 'Website2/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
  <div class="row ">
    <div class="col-sm-8">
        {% for post in category.posts.all %}
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="media">
           <div class="media-body">
                <a href="{% url 'detail' post.slug %}" style="color:black;"><h2 style='font-family: "Lucida Console", "Courier New", monospace;color:black;' class="mt-0 mb-0 ">{{ post.title }}</h2></a>
                <h6 class="text-muted" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-{{ post.created_date }}</h6>
                <p>{{ post.content| slice:":20"}}</p>
           </div>
               {% if post.image %}
               <img src="{{ post.image.url }}"  height="90px" width="90px" class="rounded">
               {% endif %}
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>