<!DOCTYPE html>
{% extends 'Website2/base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10"><h1>{{ post.title }}</h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-{{ post.created_date }} <br/><center>related posts-<button type="button" class="btn btn-dark rounded-pill shadow  "><a href="{% url 'category' post.category.slug %}" style="color:white;" >{{ post.category.name }}</a></button>-<button type="button" class="btn btn-dark rounded-pill shadow "><a href="{% url 'homepage' %}" style="color:white;">&nbsp;&nbsp;all&nbsp;&nbsp;</a><br/>
             </button></center> <hr/>
            {% if post.image %}
            <img src="{{ post.image.url }}" height="13%" width="75%" alt="combinations in python"/>
            {% endif %}
              <p>{{ post.content|safe }}</p>
            <div class="col-10"></div>
        </div>
    </div>
<h3>comments..</h3>
<hr/>
{% if not post.comments.all %}
no comments yet
{% else %}
{% for comment in post.comments.all %}
<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg>
{{ comment.name }}<br/>
&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.body }}<br/>
{% endfor %}
{% endif %}<br/>
<h3>add comments</h3>
<form method="POST" action=".">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="comment" class="btn btn-warning">
</form>
<br/>
<br/>
<br/>
</div>
{% endblock %}
</body>
</html>