
<!DOCTYPE html>
{% extends 'Website2/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extra_head %}<meta name="description" content="website for programmers who wants to solve problems for crack interviews or compete in competitive programming contest">{% endblock %}

    <title>{% block title %}Cracking{% endblock %}</title>

</head>
<body>
{% block content %}
<br/>
<div class="container">
  <div class="row ">
    <div class="col-sm-9">
        {% for post in posts.all %}
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="media">
           <div class="media-body">
                <a href="{% url 'detail' post.slug %}" style="color:black;"><h2 style='font-family: "Lucida Console", "Courier New", monospace;color:black;' class="mt-0 mb-0 ">{{ post.title }}</h2></a>
                <h6 class="text-muted" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-{{ post.created_date }}</h6>
                <p>{{ post.seo_des }}</p>
           </div>
               {% if post.image %}
               <img src="{{ post.image.url }}"  height="90px" width="90px" class="rounded">
               {% endif %}
        </div>
      </div>
        <button type="button" class="btn btn-light rounded-pill"><a href="{% url 'category' post.category.slug %}" style="color:black;">#{{ post.category.name }}</a>
        </button><br/><br/>
            {% endfor %}
    </div>
      <div class="col-sm-3">
      </div>
  </div>
</div>
{% endblock %}
</body>
</html>
